<div class="nav">
  <div>
    <h3>Hello, <%= user.name%> !</h3>
  </div>
  <div class="menu-nav">
    <% if(user.isAdmin) {%>
    <a href="dashboard">Dashboard</a>
    <a href="reviews">Reviews</a>
    <a href="assign">Assign</a>
    <%}%> <% if(!user.isAdmin) {%>
    <a href="addreview">Give Review</a>
    <a href="feedback">Feedback</a>
    <%}%>
    <a href="/logout">Logout</a>
  </div>
</div>

<div class="addEmployee-Container">
  <h5>What do you want to do ?</h5>
  <div>
    <a class="btn btn-dark" href="/add">Add Employee</a>
    <a class="btn btn-dark" href="/delete">Delete Employee</a>
    <a class="btn btn-dark" href="/edit">Edit Employee</a>
  </div>
</div>
