<div class="nav">
  <div>
    <h3>Hello, <%= user.name%> !</h3>
  </div>
  <div class="menu-nav">
    <% if(user.isAdmin) {%>
    <a href="dashboard">Dashboard</a>
    <a href="reviews">Reviews</a>
    <a href="assign">Assign</a>
    <%}%>
    <a href="/logout">Logout</a>
  </div>
</div>

<div class="addEmployee-Container">
  <div>
    <h4>Enter details of Employee to add</h4>
  </div>
  <div>
    <form class="form-add-edit-delete" action="/add" method="POST">
      <div>
        <input
          type="text"
          name="name"
          id="name"
          required
          placeholder="Enter Name"
        />
      </div>
      <div>
        <input
          type="email"
          name="username"
          id="username"
          required
          placeholder="Enter Email"
        />
      </div>
      <div>
        <input
          type="password"
          name="password"
          id="password"
          required
          placeholder="Enter Password"
        />
      </div>
      <div>
        <button type="submit" class="btn btn-dark">Add Employee</button>
      </div>
    </form>
  </div>
</div>
