<div class="nav">
  <div>
    <h3>Hello, <%= user.name%> !</h3>
  </div>
  <div class="menu-nav">
    <% if(user.isAdmin) {%>
    <a href="addemployee">Add Employee</a>
    <a href="reviews">Reviews</a>
    <a href="assign">Assign</a>
    <%}%>
    <a href="/logout">Logout</a>
  </div>
</div>

<div class="dashboard-container">
  <% if(user.isAdmin) {%>
  <div>
    <h1 class="main-heading">Admin's Panel</h1>
  </div>
  <div class="a-e-container">
    <div class="admins-list">
      <h4 class="heading">Admins List</h4>
      <table>
        <tr>
          <th>Name</th>
        </tr>
        <% Admins.forEach(function (admin){%> <% if(admin.isAdmin == true){%>
        <tr>
          <td><%=admin.name%></td>
        </tr>
        <%}})%>
      </table>
    </div>

    <div class="employees-list">
      <h4 class="heading">Employees List</h4>
      <table>
        <tr>
          <th>Name</th>
        </tr>
        <% Admins.forEach(function (admin){%> <% if(!admin.isAdmin){%>
        <tr>
          <td><%=admin.name%></td>
        </tr>
        <%}})%>
      </table>
    </div>
  </div>
  <%}%>

  <!-- for employee viewsss -->

  <% if(!user.isAdmin) {%>
  <div class="">
    
  </div>

  <%}%>
</div>
