<div class="container welcome-box">
    <h3>Welcome to the Review Handle</h3>
    <div>
    <a class="btn btn-dark" href="/register">Register</a>
    <a class="btn btn-dark" href="/login">Login</a>
</div>
</div>