<div class="welcome-box">
    <h3>Enter Details to Login</h3>
    <form class="register-form" action="/login" method="POST">
      <input
        type="email"
        name="username"
        id="email"
        required
        placeholder="Your Email"
      />
      <input
        type="password"
        name="password"
        id="password"
        required
        placeholder="Password"
      />
      <button class="btn btn-dark">Login</button>
  </div>
</div>