body {
  background-color: whitesmoke;
}
.welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
}
.welcome-box > h3 {
  margin-bottom: 10px;
}
.welcome-box > div > a {
  margin: 8px;
}
.register-form {
  display: flex;
  flex-direction: column;
}
.register-form > input {
  margin: 10px;
  width: 300px;
  height: 40px;
  padding: 10px;
}
.register-form > select {
  margin: 10px;
  width: 300px;
  height: 40px;
  padding: 10px;
}
.register-form > a {
  margin-top: 10px;
}

.nav {
  background-color: black;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav > div > h3 {
  color: white;
  padding-left: 30px;
}
.menu-nav > a {
  color: white;
  text-decoration: none;
  margin: 25px;
}
.dashboard-container {
  margin: 30px;
  padding: 30px 60px;
  background-color: white;
}
.main-heading {
  border-bottom: 1px solid lightgrey;
}
.a-e-container {
  display: flex;
  margin-top: 50px;
  height: 100vh;
}
.admins-list {
  width: 50%;
  border: 1px solid lightgrey;
  margin-left: 30px;
}
.employees-list {
  width: 50%;
  border: 1px solid lightgrey;
  margin-left: 30px;
}
.heading {
  background-color: orange;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
}
table {
  width: 100%;
}
th {
  font-size: 20px;
  background-color: aqua;
  padding: 10px 20px;
}
td {
  font-size: 20px;
}
td {
  padding: 10px 20px;
}
tr:nth-child(even) {
  background-color: beige;
}
tr:nth-child(odd) {
  background-color: azure;
}

.addEmployee-Container {
  display: flex;
  height: 80vh;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.form-add-edit-delete {
  display: flex;
  flex-wrap: wrap;
}
.form-add-edit-delete > div > input {
  margin: 15px;
  padding: 10px;
  padding-left: 4px;
}
.form-add-edit-delete > div > button {
  margin: 20px;
}
.form-add-edit-delete > div > select {
  margin: 15px;
  padding: 10px;
  width: 200px;
  padding-left: 4px;
}